/* WIREFRAME CSS */

.grey {
    background-color: grey;
    height: 200px;
}

.darkgrey {
    background-color: darkgrey;
    height: 200px;
}

/* MENU BAR CSS */

.menubarholder {
    width: 100%;
    display: flex;
    align-items: center;
}

.menubar {
    height: 50px;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menubar ul {
    list-style-type: none;
    padding-left: 20px;
    display: flex;
    flex-direction: row;
}

.menubar li {
    padding-left: 10px;
}

.sidemenubar{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidemenubar ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    padding-right: 20px;
}

.sidemenubar li {
    padding-left: 10px;
}